<!DOCTYPE html>

<html>
 <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
        <% include templates/headers.ejs %>
        <h3> <%= title%> and this is <%= name%>'s page.</h3>
        <p>my name is abhishek, i thought cheese from my pizza was a vein and i was scared</p>
 </body>
</html>